name: Deploy Windows Infrastructure
on: [push] # The Trigger

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Create Resource Group
        uses: azure/CLI@v2
        with:
          inlineScript: |
            az group create --name Portfolio-RG --location centralus

      - name: Deploy Windows VM
        uses: azure/arm-deploy@v2
        with:
          resourceGroupName: 'Portfolio-RG'
          template: ./windows-vm.bicep
          parameters: adminPassword=${{ secrets.VM_PASSWORD }}
